.card-main {
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
}

.card-content {
    padding: 2%;
}

.card-icon {
    margin: 4%;
    height: 100%;
    width: 20%;
}